name: push main
run-name: push to main by @${{ github.actor }}

on:
  push:
    branches:
      - main

defaults:
  run:
    shell: bash

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: depot-ubuntu-22.04
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
          token: ${{ secrets.RELEASE_PLEASE_GITHUB_TOKEN }}
